html {
    background-color: #ffffff;
    text-align: center;
    color: #333333;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    color: #333333;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
    overflow: hidden;
}
